<link rel="stylesheet" href="css/errorPage.css">
<div class="errMsgContainer">
    <h1 class="text-404">404</h1>
    <h3 class="errMessage">Oops! Page not found</h3>
    <p class="errDesc">The page you are looking for does not exist,it might have been moved or deleted</p>
    <a href="/">Go Back</a>
</div>