<link rel="stylesheet" href="css/indexPage.css">
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script defer src="scripts/indexPageScript.js"></script>

<div class="content">
    <div class="autoType"><span class="typed"></span></div>
    <div class="login-signup">
        <a href="/loginPage">For Login</a>
        <a href="/registerPage">For Register</a>
    </div>
</div>