<script defer src="scripts/indexPageScript.js"></script>
<div class="pageContent">
    <div class="heading">
        <h1>Welcome to online Quiz App</h1>
        <p>Please sign-up to play</p>
    </div>
    <div class="message"></div>
    <div class="formContainer">
        <form id="registerForm">
            <div class="formElement">
                <label class="block" for="fname">First Name</label>
                <input type="text" name="fname" id="fname" placeholder="Enter your first name">
                <label id="fname-error" class="error errorLabel" for="fname"></label>
            </div>
            <div class="formElement">
                <label class="block" for="lname">Last Name</label>
                <input type="text" name="lname" id="lname" placeholder="Enter your last name">
                <label id="lname-error" class="error errorLabel" for="lname"></label>
            </div>
            <div class="formElement">
                <label class="block" for="userName">Enter a username</label>
                <input type="text" name="userName" id="userName" placeholder="Enter a username">                
                <label id="userName-error" class="error errorLabel" for="userName"></label>
            </div>
            <div class="formElement">
                <label class="block" for="password">Enter a password</label>
                <input type="password" name="password" id="password" placeholder="Enter a password">
                <span id="hideShow">Show</span>
                <label id="password-error" class="error errorLabel" for="password"></label>
            </div>
            <div class="formElement">
                <label class="block" for="confirmPassword">Confirm password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter password again">
                <label id="confirmPassword-error" class="error errorLabel" for="confirmPassword"></label>
            </div>
            <div class="formElement">
                <button class="signUpBtn" id="btnSignUp" type="submit">Sign Up</button>
            </div>  
        </form>
    </div>
    <div class="forLogin">
        <p>Already have an account ?</p>
        <a href="/loginpage"><button class="loginBtn">login</button></a>
    </div>
</div>
