*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(212, 236, 236);;
}
.heading{
    padding: 1.3rem;
    background-color: #4e84e7d4;
    min-width: 100vw;
    text-align: center;
}
.heading .greet{
    color: rgb(39, 38, 37);
    font-size: 2.4rem;
}
