body{
    background-color: rgb(198, 240, 240);
}
.pageContent{
    margin-top: 20px;
}
.addQuestionSec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formElement{
    padding: 6px 0;
}
.formElement input{
    padding: 6px 10px;
    width: 40vw;
    border-radius: 10px;
    font-size: 15px;
}
.formElement label{
    display: block;
    font-size: 20px;
    margin-bottom: 4px;
}
.questionTable{
    margin: 30px;
    display: flex;
    justify-content: center;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px 15px;
    font-size: 20px;
    text-align: center;
    font-family: system-ui;
}
.myBtn{
    outline: none;
    border: none;
    padding: 6px 13px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    background-color: rgb(14, 227, 255);
    transition: background-color 0.2s;
}
.editBtn:hover, .addBtn:hover{
    background-color: rgb(0, 238, 0);
}
.deleteBtn:hover{
    background-color: rgb(238, 56, 0);
}
.message{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-size: 28px;
    opacity: 0;
    transition: all 0.4s;
    color: white;
}

.modal-btn{
    display: none;
}